## Common tabular operations in pandas

So far, you have learned the basics of pandas data structures (i.e. Series and DataFrame) and familiar with basic methods for loading and exploring data. n this section, we will continue exploring the pandas functionalities, and see how it can be used for data manipulation, conducting simple calculations, and making selections based on specific criteria.

Lets recall the few operations:

1. Seclection a table column / mulptiple columns
2. Selecting a row / multiple rows
3. Creating a new column
4. Creating a new row
5. Dropping a column or a row
6. Changing column order

Lets follow the instruction given below.

Import "bankdata_2.csv" to a variable "bank_data".

List the columns names of the table

#### 1. Seclection a table column / mulptiple columns
Select "Name: and "CurrentBalance" column and save in to another table (say, bank_data).

#### 2. Selecting a row / multiple rows

Select 0 - 5 raws

Select even raws from 2 to 8.

How to get first 5 rows of "Name" column?

How to get first 5 rows of "CurrentBalance" column?

#### 3. Creating columns
Create a column named "Balance_Status" of the "account_data" table and set the status based on the following rules:
- if the account balance is in between 0 - 10000 then the balance_status = "low"
- if the account balance is in between 10001 - 30000 then the balance_status = "medium"
- if the account balance is above 30001 the the balance_status = "high"

Hint: Use a function that returns the above status depending on the balance. Then, generate a list contains the specific balance_status depending on the balance, and assign this list values to the balance_status column.

We may use here inline loop, i.e. list created by [ x for x in ...],  to construct the list values.

#### Inserting a new row values
We can insert a single row using DataFrame.loc. function. The refernce for the last indes is given by len(DataFrame.index).

Insert a column contains values "John Doe", 45000, "high" to the last row.

#### Difference Between loc and iloc
The difference between the "loc" and "iloc" functions is that the "loc" function selects rows using row labels whereas the "iloc" function selects rows using their integer positions (staring from 0 and going up by one for each row). In the selection of rows, the best practice to use "loc" only when the index are given as lables. However, "loc" has to be used in the case updating an entire row of the data-frame.

#### Dropping (deleting) a row
Deleting a row is possible using the funtion "drop", with index parameter. Muptiple row dropping is also possible.

#### Deleting/Dropping Rows based on Column Values
To delete rows from a DataFrame based on a specific column value, you can use the drop method in Pandas. The drop method takes an argument index, which is a list of row labels to delete.

Drop all data belnging to "Lilly Willy".

#### Dropping a Column

Dropping a column is also based on the drop function. However, we should specify the "axis" as "column".

Drop the "balance_status" column

#### Channging the column order
Changing order can be directly done by re-arranging the columns on the data-frame directly. Loc function can also used in changing the column order. These alterations will create a new data-frame.

Interchange the oder of columns: Name and CurrentBalance

Interchange the columns using the "loc" function:

#### Pandas Multi-Index Tables

Pandas data-frames has ability to represent more than one row-wise index.
Lets consider the above example and extend the table so that it has following additional columns.
- Account number: Unique number
- Branch code: possible codes [100,101,...,140]