#### Recall the dictionery operations
- Creat dictionery
- Access ditionery entries
- iterating over dictioneries

#### Example:

1. Create a dictionary containing account information
 - Tyeps of the account
 - banks
 - years

In [5]:
accounts = {'type':['Saving', 'Current','Saving'], 'bank':['BOC','SEY','SAM'] , 'year':[2000,2001,2003]}

In [7]:
accounts

{'type': ['Saving', 'Current', 'Saving'],
 'bank': ['BOC', 'SEY', 'SAM'],
 'year': [2000, 2001, 2003]}

- How to access keys?
- How to access Values?

In [11]:
print('Keys are', accounts.keys())
print('Values are', accounts['type'])
print('Values are', accounts['bank'])
print('Values are', accounts['year'])

Keys are dict_keys(['type', 'bank', 'year'])
Values are ['Saving', 'Current', 'Saving']
Values are ['BOC', 'SEY', 'SAM']
Values are [2000, 2001, 2003]

In [13]:
print("Dictionary contains the items", accounts.items())

Dictionary contains the items dict_items([('type', ['Saving', 'Current', 'Saving']), ('bank', ['BOC', 'SEY', 'SAM']), ('year', [2000, 2001, 2003])])

- List the account types stored in "accounts"

In [16]:
list(accounts['type'])

['Saving', 'Current', 'Saving']

What are the account types saved in accounts-dictionary?

In [18]:
set(accounts['type'])

{'Current', 'Saving'}

In [23]:
for key in accounts.keys():
    print('The key;', key, 'has items:', accounts[key])

The key; type has items: ['Saving', 'Current', 'Saving']
The key; bank has items: ['BOC', 'SEY', 'SAM']
The key; year has items: [2000, 2001, 2003]

In [25]:
for key, value in accounts.items():
    print(key, 'has values', value)

type has values ['Saving', 'Current', 'Saving']
bank has values ['BOC', 'SEY', 'SAM']
year has values [2000, 2001, 2003]

How to add a another 'key' information to the dictionary?
- Add city of the bank branch

In [27]:
accounts['city'] = list()

In [31]:
print('updated accounts-ditionary =', accounts)
accounts['city'].append('Colombo')

updated accounts-ditionary = {'type': ['Saving', 'Current', 'Saving'], 'bank': ['BOC', 'SEY', 'SAM'], 'year': [2000, 2001, 2003], 'city': ['Colombo']}

In [35]:
accounts['city'] = list()
accounts['city'].append('Colombo')
accounts['city'].append('Kandy')
accounts['city'].append('Jaffna')

In [37]:
accounts

{'type': ['Saving', 'Current', 'Saving'],
 'bank': ['BOC', 'SEY', 'SAM'],
 'year': [2000, 2001, 2003],
 'city': ['Colombo', 'Kandy', 'Jaffna']}

In [41]:
def getAccountAt(accounts, accountIndex):
    account = list()
    for key in accounts.keys():
        account.append(accounts[key][accountIndex])
    
    return account

In [46]:
getAccountAt(accounts, 2)

['Saving', 'SAM', 2003, 'Jaffna']

In [49]:
def addAcccount(accounts, account_list):
    accounts['type'].append(account_list[0])
    accounts['bank'].append(account_list[1])
    accounts['year'].append(account_list[2])
    accounts['city'].append(account_list[3])

In [51]:
addAcccount(accounts, ['Current', 'PEO', 2020, 'Matara'])

In [54]:
getAccountAt(accounts, 3)

['Current', 'PEO', 2020, 'Matara']

### Example - Use Data Structures
Import Bank-Data with names ('bankdata_2.csv')

1. Create a list of names using the names in "Name" column. Find how many distict names are there.
2. Create two list of first names and last names. Find how many distinct first and last names are there.
3. What is the most frequent contact type used by the people who have the surname "Williams"?
4. Among married people how many of them bear the surname "Warner"?

In [56]:
import pandas as pd

In [58]:
data = pd.read_csv('bankdata_2.csv')

In [60]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,Name
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,Mike Willy
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,Robert Willy
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,Jennifer Willy
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,Lilly Williams
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,Robert Willy

In [62]:
names = list(data.Name)

In [70]:
names[0:3]

['Mike Willy', 'Robert Willy', 'Jennifer Willy']

In [72]:
name_set = set(names)

In [73]:
name_set

{'Jennifer Browns',
 'Jennifer Stallon',
 'Jennifer Warner',
 'Jennifer Williams',
 'Jennifer Willy',
 'John Browns',
 'John Stallon',
 'John Warner',
 'John Williams',
 'John Willy',
 'Lilly Browns',
 'Lilly Stallon',
 'Lilly Warner',
 'Lilly Williams',
 'Lilly Willy',
 'Mike Browns',
 'Mike Stallon',
 'Mike Warner',
 'Mike Williams',
 'Mike Willy',
 'Robert Browns',
 'Robert Stallon',
 'Robert Warner',
 'Robert Williams',
 'Robert Willy'}

In [74]:
print('Number of distinct names in data =', len(set(names)))

Number of distinct names in data = 25

## Create two list of first names and last names. Find how many distinct first and last names are there.

In [77]:
data.Name.head()

0        Mike Willy
1      Robert Willy
2    Jennifer Willy
3    Lilly Williams
4      Robert Willy
Name: Name, dtype: object

In [84]:
first_name = list()
last_name = list()
for i in range(len(data.Name)):
    name_parts = data.Name[i].split()
    first_name.append(name_parts[0])
    last_name.append(name_parts[1])

In [87]:
print("Full Name:", data.Name[0], ", First Name:",  first_name[0], ", last name:", last_name[0])
print("Full Name:", data.Name[1], ", First Name:",  first_name[1], ", last name:", last_name[1])
print("Full Name:", data.Name[100], ", First Name:",  first_name[100], ", last name", last_name[100])

Full Name: Mike Willy , First Name: Mike , last name: Willy
Full Name: Robert Willy , First Name: Robert , last name: Willy
Full Name: Mike Stallon , First Name: Mike , last name Stallon

In [89]:
print("Number of Unique first names", len(set(first_name)))
print("Number of Unique last names", len(set(last_name)))

Number of Unique first names 5
Number of Unique last names 5

In [91]:
set(first_name)

{'Jennifer', 'John', 'Lilly', 'Mike', 'Robert'}

In [93]:
set(last_name)

{'Browns', 'Stallon', 'Warner', 'Williams', 'Willy'}

In [95]:
# What is the most frequent contact type used by the people who have the surname "Williams"?

# We may use dictionary to store the contact type informations

contacts = dict()

In [101]:
set(list(data.contact))

{'cellular', 'telephone', 'unknown'}

In [140]:
def updateKeyToListDict(contacts, contact_type, name):
    if contact_type in contacts:
        contacts[contact_type].append(name)
    else:
        contacts[contact_type] = list()
        contacts[contact_type].append(name)

In [141]:
for i in range(len(data.contact)):
    updateKeyToListDict(contacts, data.contact[i], last_name[i])

In [142]:
contacts.keys()

dict_keys(['cellular', 'unknown', 'telephone'])

In [112]:
contacts['cellular'][1:5]

['Willy', 'Willy', 'Williams', 'Williams']

In [114]:
contacts['unknown'][1:5]

['Willy', 'Stallon', 'Browns', 'Browns']

In [116]:
contacts['telephone'][1:5]

['Willy', 'Willy', 'Stallon', 'Browns']

In [120]:
def countNames(name_list, name):
    count = 0
    for i in range(len(name_list)):
        if name_list[i] == name:
            count = count + 1
    
    return count

In [122]:
countNames(contacts['telephone'], 'Williams')

104

In [124]:
countNames(contacts['cellular'], 'Williams')

1154

In [128]:
countNames(contacts['unknown'], 'Williams')

564

In [129]:
frequency = dict()

In [131]:
name = "Williams"
for key, value in contacts.items():
    frequency[key] = countNames(value, name)

In [133]:
frequency

{'cellular': 1154, 'unknown': 564, 'telephone': 104}

In [136]:
def getFrequency(contacts, name):
    frequency = dict()
    for key, value in contacts.items():
        frequency[key] = countNames(value, name)
    return frequency

In [138]:
getFrequency(contacts, "Williams")

{'cellular': 1154, 'unknown': 564, 'telephone': 104}

In [143]:
getFrequency(contacts, "Warner")

{'cellular': 1797, 'unknown': 768, 'telephone': 177}

#### Among married people how many of them bear the surname "Warner"?

In [145]:

maritalStatus = dict()
for i in range(len(data.marital)):
    updateKeyToListDict(maritalStatus, data.marital[i], last_name[i])

In [147]:
maritalStatus.keys()

dict_keys(['married', 'single', 'divorced'])

In [148]:
getFrequency(maritalStatus, "Warner")

{'married': 581, 'single': 242, 'divorced': 91}